In [ ]:
!pip install kagglehub

^C

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ashishjangra27/nifty-50-25-yrs-data")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.13)
Downloading from https://www.kaggle.com/api/v1/datasets/download/ashishjangra27/nifty-50-25-yrs-data?dataset_version_number=1...

100%|██████████| 90.9k/90.9k [00:00<00:00, 180kB/s]

Extracting model files...

Path to dataset files: C:\Users\bikas\.cache\kagglehub\datasets\ashishjangra27\nifty-50-25-yrs-data\versions\1

In [4]:
import numpy as np
import pandas as pd
from tqdm.auto import tqdm
from sklearn.model_selection import train_test_split
from copy import deepcopy

from sklearn.neighbors import KNeighborsRegressor
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, SimpleRNN, LSTM, GRU, Bidirectional


from sklearn.metrics import mean_absolute_error, mean_squared_error

import warnings
warnings.filterwarnings("ignore")

df = pd.read_csv(f"{path}/data.csv")
df.head()

         Date     Open     High      Low   Close
0  2000-01-03  1482.15  1592.90  1482.15  1592.2
1  2000-01-04  1594.40  1641.95  1594.40  1638.7
2  2000-01-05  1634.55  1635.50  1555.05  1595.8
3  2000-01-06  1595.80  1639.00  1595.80  1617.6
4  2000-01-07  1616.60  1628.25  1597.20  1613.3

In [5]:
def return_pairs(column, days):
    pricess = list(column)
    X = []
    y = []
    for i in range(len(pricess) - days):
        X.append(pricess[i:i+days])
        y.append(pricess[i+days])
    return np.array(X), np.array(y)

target_columns =  ['High']
day_chunks =  [30, 60, 90]

chunked_data = {}

for col in target_columns:
    for days in day_chunks:
        key_X = f"X_{col}_{days}"
        key_y = f"y_{col}_{days}"
        X, y = return_pairs(df[col], days)
        chunked_data[key_X] = X
        chunked_data[key_y] = y


chunk_pairs = []

for key in chunked_data.keys():
    if key.startswith("X_"):
        y_key = key.replace("X_", "y_")
        if y_key in chunked_data:
            chunk_pairs.append([key, y_key])

In [6]:
def build_rnn(input_shape):
    model = Sequential([
        SimpleRNN(50, activation='tanh', input_shape=input_shape),
        Dense(1)   # regression output
    ])
    model.compile(optimizer='adam', loss='mse')
    return model

def build_lstm(input_shape):
    model = Sequential([
        LSTM(50, activation='tanh', input_shape=input_shape),
        Dense(1)
    ])
    model.compile(optimizer='adam', loss='mse')
    return model

def build_gru(input_shape):
    model = Sequential([
        GRU(50, activation='tanh', input_shape=input_shape),
        Dense(1)
    ])
    model.compile(optimizer='adam', loss='mse')
    return model

def build_bilstm(input_shape):
    model = Sequential([
        Bidirectional(LSTM(50, activation='tanh'), input_shape=input_shape),
        Dense(1)
    ])
    model.compile(optimizer='adam', loss='mse')
    return model

In [7]:
ml_models = [
    ("KNN", KNeighborsRegressor())
]

dl_models = {
    "RNN": build_rnn,
    "LSTM": build_lstm,
    "GRU": build_gru,
    "Bidirectional_LSTM": build_bilstm
}

In [8]:
trained_models = {}

for X, y in tqdm(chunk_pairs):
    X_data = chunked_data[X]
    y_data = chunked_data[y]

    X_train, X_test, y_train, y_test = train_test_split(
        X_data, y_data, test_size=0.1, random_state=42
    )

    # ML models
    for model_name, model in tqdm(ml_models):
        key = model_name + '_' + X[2:]
        model_copy = deepcopy(model)
        model_copy.fit(X_train, y_train)

        y_train_pred = model_copy.predict(X_train)
        y_test_pred = model_copy.predict(X_test)

        trained_models[key] = {
            'model': model_copy,
            'train_mae': mean_absolute_error(y_train, y_train_pred),
            'train_rmse': np.sqrt(mean_squared_error(y_train, y_train_pred)),
            'test_mae': mean_absolute_error(y_test, y_test_pred),
            'test_rmse': np.sqrt(mean_squared_error(y_test, y_test_pred))
        }

    # DL models
    X_train_rnn = np.expand_dims(X_train, -1)
    X_test_rnn = np.expand_dims(X_test, -1)

    for model_name, builder in tqdm(dl_models.items()):
        key = model_name + '_' + X[2:]
        model_dl = builder((X_train.shape[1], 1))

        model_dl.fit(X_train_rnn, y_train, epochs=50, batch_size=8, verbose=0)

        y_train_pred = model_dl.predict(X_train_rnn).flatten()
        y_test_pred = model_dl.predict(X_test_rnn).flatten()

        trained_models[key] = {
            'model': model_dl,
            'train_mae': mean_absolute_error(y_train, y_train_pred),
            'train_rmse': np.sqrt(mean_squared_error(y_train, y_train_pred)),
            'test_mae': mean_absolute_error(y_test, y_test_pred),
            'test_rmse': np.sqrt(mean_squared_error(y_test, y_test_pred))
        }

  0%|          | 0/3 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]

  0%|          | 0/4 [00:00<?, ?it/s]

177/177 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
177/177 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step
177/177 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step
177/177 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step

  0%|          | 0/1 [00:00<?, ?it/s]

  0%|          | 0/4 [00:00<?, ?it/s]

176/176 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step
176/176 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step
176/176 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step
176/176 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step

  0%|          | 0/1 [00:00<?, ?it/s]

  0%|          | 0/4 [00:00<?, ?it/s]

176/176 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
176/176 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step
176/176 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step
176/176 ━━━━━━━━━━━━━━━━━━━━ 2s 12ms/step
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step

In [9]:
results_df = pd.DataFrame([
    {"Model": name, **metrics}
    for name, metrics in trained_models.items()])

results_df.sort_values(by = 'test_mae', ascending = True)

,Model,model,train_mae,train_rmse,test_mae,test_rmse
10,KNN_High_90,KNeighborsRegressor(),36.929140,58.769966,48.790144,74.204848
5,KNN_High_60,KNeighborsRegressor(),36.850899,58.333589,52.819089,82.674612
0,KNN_High_30,KNeighborsRegressor(),42.646429,68.669169,56.933037,89.679421
1,RNN_High_30,"<Sequential name=sequential, built=True>",6387.747484,8841.664594,5890.645328,8445.225991
6,RNN_High_60,"<Sequential name=sequential_4, built=True>",6418.221459,8877.167071,5962.879330,8379.762281
11,RNN_High_90,"<Sequential name=sequential_8, built=True>",6434.587657,8882.541013,6157.087074,8599.558455
4,Bidirectional_LSTM_High_30,"<Sequential name=sequential_3, built=True>",6907.201528,9328.343781,6388.633741,8914.353609
9,Bidirectional_LSTM_High_60,"<Sequential name=sequential_7, built=True>",6961.275094,9381.323884,6479.702328,8874.409091
3,GRU_High_30,"<Sequential name=sequential_2, built=True>",7129.753053,9496.796804,6610.567872,9077.566416
13,GRU_High_90,"<Sequential name=sequential_10, built=True>",6945.552380,9360.447947,6646.611370,9070.539166
14,Bidirectional_LSTM_High_90,"<Sequential name=sequential_11, built=True>",6961.115067,9372.676364,6661.757725,9082.612716
7,LSTM_High_60,"<Sequential name=sequential_5, built=True>",7340.412367,9667.353922,6858.902554,9156.238432
8,GRU_High_60,"<Sequential name=sequential_6, built=True>",7392.666152,9707.089726,6911.156338,9195.446694
2,LSTM_High_30,"<Sequential name=sequential_1, built=True>",7472.009554,9756.367034,6952.824372,9329.757296
12,LSTM_High_90,"<Sequential name=sequential_9, built=True>",7602.099274,9859.832573,7301.618214,9564.329329

In [10]:
results_df = pd.DataFrame([
    {"Model": name, **metrics}
    for name, metrics in trained_models.items()])

results_df.sort_values(by = 'test_mae', ascending = True)

,Model,model,train_mae,train_rmse,test_mae,test_rmse
10,KNN_High_90,KNeighborsRegressor(),36.929140,58.769966,48.790144,74.204848
5,KNN_High_60,KNeighborsRegressor(),36.850899,58.333589,52.819089,82.674612
0,KNN_High_30,KNeighborsRegressor(),42.646429,68.669169,56.933037,89.679421
1,RNN_High_30,"<Sequential name=sequential, built=True>",6387.747484,8841.664594,5890.645328,8445.225991
6,RNN_High_60,"<Sequential name=sequential_4, built=True>",6418.221459,8877.167071,5962.879330,8379.762281
11,RNN_High_90,"<Sequential name=sequential_8, built=True>",6434.587657,8882.541013,6157.087074,8599.558455
4,Bidirectional_LSTM_High_30,"<Sequential name=sequential_3, built=True>",6907.201528,9328.343781,6388.633741,8914.353609
9,Bidirectional_LSTM_High_60,"<Sequential name=sequential_7, built=True>",6961.275094,9381.323884,6479.702328,8874.409091
3,GRU_High_30,"<Sequential name=sequential_2, built=True>",7129.753053,9496.796804,6610.567872,9077.566416
13,GRU_High_90,"<Sequential name=sequential_10, built=True>",6945.552380,9360.447947,6646.611370,9070.539166
14,Bidirectional_LSTM_High_90,"<Sequential name=sequential_11, built=True>",6961.115067,9372.676364,6661.757725,9082.612716
7,LSTM_High_60,"<Sequential name=sequential_5, built=True>",7340.412367,9667.353922,6858.902554,9156.238432
8,GRU_High_60,"<Sequential name=sequential_6, built=True>",7392.666152,9707.089726,6911.156338,9195.446694
2,LSTM_High_30,"<Sequential name=sequential_1, built=True>",7472.009554,9756.367034,6952.824372,9329.757296
12,LSTM_High_90,"<Sequential name=sequential_9, built=True>",7602.099274,9859.832573,7301.618214,9564.329329